html, body {
    font-family: sans-serif;
}

#legal {
    position: fixed;
    bottom: 4px;
    text-align: right;
    width: 100%;
}

#legal_link {
    margin-right: 4px;
    text-decoration: none;
    color: grey;
}
