html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

form {
    margin: 16px;
}

.question .title {
    margin-top: 32px;
    margin-bottom: 8px;
}

#button-container {
    width: 100%;
    text-align: center;
}

#button-container, button[type="submit"] {
    max-width: 300px;
}

#code-display {
    text-align: right;
    color: #b7b7b7;
    font-size: 8pt;
    margin: 0;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background: #00c156;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px #656565;
    font-size: 30px;
    line-height: 40px;
    text-shadow: 0px 0px 24px #99ffc7;
    cursor: pointer;
}

#legal {
    position: fixed;
    bottom: 4px;
    text-align: right;
    width: 100%;
}

#legal_link {
    margin-right: 4px;
    text-decoration: none;
    color: grey;
}

@media only screen and (max-width: 800px) {
    html, body {
        text-align: center;
    }
    #button-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

/* TODO: move to seperate CSS file? */
input[type="text"], select {
    font-size: 1.2em;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 2px black;
    padding: 4px;
}
