{% extends "basic.html" %}

{% block title %}{{ config.texts.code }}?{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}" />
    <style>html, body {text-align: center;}</style>
{% endblock %}

{% block body %}
    <h1 id="title">{{ config.texts.code }}</h1>
    <form method="GET">
        <input type="text" placeholder="{{ config.texts.code }}" name="code" /><br /><br />
        <button type="submit">➡</button>
    </form>
    <footer id="legal"><a id="legal_link" href="/legal" title="{{ config.texts.legal }}">{{ config.texts.legal }}</a></footer>
{% endblock %}
