{% extends "basic.html" %}

{% block title %}{{ config.texts.invalid_code }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}" />
    <style>html, body {text-align: center;}</style>
{% endblock %}

{% block body %}
    <h1 id="title">{{ config.texts.invalid_code }}</h1>
    <p>{{ config.texts.invalid_code_explaination }}</p>
    <form method="GET">
        <input type="text" placeholder="{{ config.texts.code }}" name="code" /><br /><br />
        <button type="submit">➡</button>
    </form>
{% endblock %}
