<!doctype html>

<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <form method="POST">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        {% for question in questions %}
            <h2>{{ question["title"] }}</h2>
            {% include "elements/"+question["type"]+".html" %}
            <br />
        {% endfor %}
        <br />
        <input type="text" name="code" value="{{ code }}" style="display: none;" />
        <button type="submit">-></button>
    </form>
</body>

</html>
