{% extends "basic.html" %}

{% block title %}Dashboard - {{ survey["title"] }}

{% block head %}
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block head %}
    <h1>Survey View: {{ survey["title"] }}</h1>
    <p>Description: {{ survey["description"] }}</p>
    <h2>Code generation</h2>
    <form action="/dashboard/generate_codes" method="GET" target="_blank">
        <input type="text" name="survey" value="{{ survey['slug'] }}" style="display: none;" />
        <input type="number" min="1" value="20" name="number_of_codes" />
        <button type="submit">Generate</button>
    </form>
    <h2>Reset</h2>
    <form action="/dashboard/reset_survey" method="GET" target="_blank">
        <p>
            <strong>Warning:</strong> This option removes <strong>all</strong> existing codes and <strong>all</strong> existing results!
            It does not remove the questions of the survey.
        </p>
        <input type="text" name="survey" value="{{ survey['slug'] }}" style="display: none;" />
        <p>Please type the following text into this field to confirm you really want to reset the survey: {{ survey['slug'] }}</p>
        <input type="text" name="survey_confirm" pattern="{{ survey['slug'] }}" placeholder="Reset confirmation" />
        <button type="submit">Reset</button>
    </form>
    <h2>Results</h2>
    <table>
    {% for result in responses %}
        <tr>
            <td>{{result}}</td>
            {% for answer in responses[result] %}
                <td>{{responses[result][answer]}}x {{answer}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
